alembic
click
Flask
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy==1.3.24
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
python-dotenv
python-dateutil
python-editor
six
SQLAlchemy
Werkzeug
python-jose
